<div class="container">
  <div class="row blank_space"> </div>

    <div class="row">
      <div class="col-md-4">
        <h1> <%= @quote.id %></h1>
      </div>
    </div>

    <div class="row blank_space" style="margin-top:40px"> </div>

    <h1>TOurs ma </h1>

    <div class="row blank_space"> </div>

    <div class="row">
      <div class="col-md-12" style="border: red">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"> Categoria </th>
              <th> Proveedor </th>
              <th> Servicio</th>
              <th> Aniadir </th>
              <th> Remover </th>
              <th> incluido </th>
            </tr>
          </thead>
          <tbody>
            <% @tour.services.each do |service| %>
              <% service_cost = service.service_costs.find_by(quote_id: @quote.id) %>
              <tr>
                <td>  <%= service.name %></td>
                <td>  <%= service.description %> </td>
                <td>  <%= link_to service.name %> </td>
                <td>
                  <p>
                    <%= link_to quote_tour_service_path("#{@quote.id}, #{service.id}"), class: "btn btn-default" do %>
                        <i class="glyphicon glyphicon-plus"></i>
                    <% end %>
                  </p>
                </td>
                <td>
                  <p>
                    <%= link_to quote_tour_remove_service_path("#{@quote.id}, #{service.id}"), class: "btn btn-default", data: { confirm: 'Are you sure?' }, method: :delete do %>
                        <i class="glyphicon glyphicon-minus"></i>
                    <% end %>
                  </p>
                </td>
                <td>  <p> <%= service_cost ? "Si" : "No" %> </p></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <p> agregar </p>
    <p> <%= link_to "volver", quote_path(@quote) %> </p>

  </div>
