<div class="container">
  <div class="row blank_space"> </div>

  <div class="row">
    <div class="col-md-4">
      <h1> <%= City.find(@city).name %></h1>
      <p> summary data </p>
    </div>
    <div class="col-md-2 col-md-offset-2" style="border: red">

    </div>
    <div class="col-md-4">
      <h1>last table</h1>
    </div>
  </div>

  <div class="row blank_space"> </div>

  <div class="row">
    <%= form_tag("/quotes/#{@quote}/activities/new", method: "get") do %>
      <%= hidden_field_tag(:city_id, City.find(@city).id) %>
      <%= submit_tag("Aniade una nueva actividad") %>
    <% end %>
  </div>

  <div class="row blank_space"> </div>

  <div class="row">
    <div class="col-md-12" style="border: red">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">actividad</th>
            <th>actualizar precio</th>
            <th>borrar actividad</th>
          </tr>
        </thead>
        <tbody>
          <% Quote.find(@quote).activities.each do |activity| %>
            <tr>
              <td>  <%= activity.name %> </td>
              <td> a </td>
              <td>  no </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row blank_space"> </div>
</div>
