<div class="container">
  <div class="row blank_space"> </div>

  <div class="row">
    <div class="col-md-4">
      <h1> <%= @city.name %></h1>
      <p> summary data </p>
    </div>
    <div class="col-md-2 col-md-offset-2" style="border: red">

    </div>
    <div class="col-md-4">
      <h3> <%= link_to "Ver Cotizacion", quote_path(@quote) %> </h3>
    </div>
  </div>

  <div class="row blank_space"> </div>

  <div class="row">
    <div class="form-group">
      <%= form_for [@quote, Activity.new], url: {:controller => 'activities', action: "create"}, html: {class: "nifty_form"} do |f| %>
        <%= f.hidden_field :city, value: @city.id %>
        <div class="col-sm-12">
          <%=label_tag(:activity, "Actividad")%>
          <%= f.collection_select :id, @city_activities, :id, :name, class: "form-control"%>
        </div>
        <%= f.submit "Aniadir actividad", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row blank_space"> </div>

  <div class="row">
    <div class="col-md-12" style="border: red">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">actividad</th>
            <th>actualizar precio</th>
            <th>borrar actividad</th>
          </tr>
        </thead>
        <tbody>
          <% @quote.activities.each do |activity| %>
            <tr>
              <td>  <%= link_to activity.name, quote_activity_path(@quote.id ,activity.id) %> </td>
              <td> a </td>
              <td>  no </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row blank_space"> </div>
</div>
