<div class="container">
  <div class="row">
    <div class="form-group">
      <%= form_tag("/quotes/#{@quote.id}/activities/#{@activity.id}", method: "put") do %>
      <div class="col-sm-12">
        <h1> <%= @activity.name %> </h1>
      </div>

      <div class="col-sm-12">
        <%=label_tag(:days, "# de dias")%>
        <%= text_field_tag "days"%>
        <%= label_tag(:ocupation, "Cantidad de personas")%>
        <%= text_field_tag "ocupation"%>
      </div>

        <% @activity.sub_activities.each do |sub_activity| %>
        <div class="col-sm-12">
          <%= check_box_tag "sub_activity_id", sub_activity.id %>
          <%= label_tag(:name, "#{sub_activity.name}:") %>
        </div>
          <% sub_activity.activity_options.each do |activity_option| %>
            <div class="col-sm-12">
              <%= check_box_tag "activity_option_id", activity_option.id %>
              <%= label_tag(:name, "Costo: #{activity_option.cost}") %>
              <%= label_tag(:name, "Capacidad: #{activity_option.capacity}") %>
            </div>
          <% end %>
        <% end %>

        <div class="col-sm-12">
          <%= submit_tag("siguiente") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
