<div class="container">
  <div class="row">
    <div class="">
      <h1> <%= @activity.name %> </h1>
    </div>
    <div class="">
      <h1> <%= @activity.description %> </h1>
    </div>
    <div class="">
      <% if @activity.sub_activities %>
        <div class="">
            <h3>Opciones:</h3>
        </div>
        <% @activity.sub_activities.each do |sub_activity| %>
        <h3> nombre de la sub actividad: <%= sub_activity.name %></h3>
          <% sub_activity.activity_options.each do |activity_option| %>
            <div class="">
              <h2> Capacity: <%= sub_activity.activity_options.capacity %></h2>
              <h2> Cost: <%= @activity_option.cost %></h2>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% @activity.activity_options.each do |activity_option| %>
          <div class="">
            <h2> Capacity: <%= sub_activity.activity_options.capacity %></h2>
            <h2> Cost: <%= @activity_option.cost %></h2>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="">
    <h3> <%= link_to "volver", city_path(@city.id) %> </h3>
  </div>
</div>
