<div class="container">
  <div class="row">
    <div class="">
      <h1> <%= @service.name %> </h1>
    </div>
    <div class="">
      <h1> <%= @service.description %> </h1>
    </div>
    <div class="">
      <% @service_costs = @quote.service_costs.where(service_id: @service.id) %>

      <% @service_costs.each do |service_cost| %>
        <h1> Numero de pax: <%= service_cost.pax %> </h1>

        <h1> Cantidad de servicios: <%= service_cost.services %> </h1>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="">
      <h2> Opciones: </h2>
      <ul>
        <% @options = @quote.options.where(service_id: @service.id) %>
        <% @options.each do |option| %>
        <li>
           <h3><%= option.name %></h3>

          <% @prices = @quote.prices.where(option_id: option.id) %>

          <% @prices.each do |price| %>
            <p>Precio: <%= price.value %> </p>
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="">

    </div>
  </div>

  <div class="row">
    <div class="">
      <h5> <%= link_to "volver", quote_path(@quote) %> </h5>
    </div>
  </div>
</div>
